<h1>Byte Bank</h1>

<h1>Titular: @ViewBag.Titular</h1>
<h1>Agencia @ViewBag.Agencia</h1>
<h1>Conta: @ViewBag.Numero</h1>
@*<h1>Sacar: @ViewBag.Sacar</h1>*@
<h1>Saldo: @ViewBag.Saldo</h1>

<hr />
<h1>Deposito: @ViewBag.Deposito</h1>
<h1>Saldo: @ViewBag.Saldo</h1>

<hr />
<h1>@ViewBag.Nome2</h1>
<h1>@ViewBag.Saldo2</h1>

<hr />
<h1>Tranferencia: @ViewBag.Transferir</h1>
<h1>Titular: @ViewBag.Titular</h1>
<h1>Saldo: @ViewBag.Saldo</h1>
<hr />
<h1>@ViewBag.Nome2</h1>
<h1>@ViewBag.Saldo2</h1>

