@model ByteBank.Models.ContaCorrente


<h1>Byte Bank</h1>

<h1>Titular: @Model.Titular.Nome</h1>
<h1>Cpf: @Model.Titular.CPF </h1>
<h1>Profissao: @Model.Titular.Profissao</h1>
<h1>Agencia: @Model.Agencia.NumAgencia</h1>
<h1>Conta: @Model.Agencia.Conta</h1>
<h1>Saldo: @Model.ObterSaldo()</h1>



